
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ProjectXLayout.cshtml";
}
<div class="jumbotron">
    <h1 class="center-block">Welcome to ProjectX</h1><br />
    <p class="lead">It is a mini project devoloping for apply what we learned in ASP.NET call and it is called as ProjectX.</p>
    <br /><br /><br />
    <p>Thank You for Visit!</p>
</div>

